/*
待定
.el-step__title.is-process,.el-step__title.is-wait{
  color: var(--kkd_white_50p_color);
  font-weight: normal;
}
.el-step__icon{
  background-color: var(--kkd_main_color);
}
.el-step__head.is-success{
  border-color: var(--kkd_main_color);
}
.el-step .el-step__head.is-success .el-step__icon-inner svg path{
  color: var(--kkd_main_color);
}
.el-step .el-step__head.is-success  .el-step__line{
  background-color: var(--kkd_main_color);
}
.el-step__head.is-wait,.el-step__icon.is-text{
  border-color: var(--kkd_white_50p_color);
}*/
